include README.md
include .gitignore
recursive-include clients/kindo_message_python_client *.py
recursive-include clients/kindo_message_python_client *.txt
recursive-include clients/kindo_message_python_client *.md
recursive-include schemas *.json
global-include schemas/*.json 